/* external css: flickity.css */

* {
  box-sizing: border-box;
}

h1 {
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  color: #fff;
  font-weight: 700;
  line-height: 26.4px;
}

body {
  font-family: sans-serif;
  background-color: #080b26;
}

.carousel {
  background: #080b26;
}

.carousel-cell {
  width: 86%;
  height: 650px;
  margin-right: 10px;
  background: #080b26;
  border-radius: 5px;
  background-position: center center;
  background-size: cover;
}

.flickity-page-dots .dot {
  background: #fff;
  opacity: 0.33;
}

.flickity-page-dots .dot.is-selected {
  opacity: 0.65;
}

/* cell number
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 100px;
  color: black;
} */
